* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #fd6569;
    padding: 10px;
}

.moviebox {
    background-color: #000000;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    margin: 30px;
    color: white;
    vertical-align: top;
    display: inline-block;
}

.moviebox h2 {
    color: #fd6569;
}

.moviebox button {
    border: none;
    background-color: #fd6569;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.addBtn {
    border: none;
    background-color: #fd6569;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100%;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    display: none;
}

.overlaybox {
    background-color: #fd6569;
    width: 40%;
    border-radius: 15px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.overlaybox input {
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.overlaybox textarea {
    border: none;
    background: transparent;
    border: 2px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.overlaybox input::placeholder {
    color: #000000;
}

.overlaybox textarea::placeholder {
    color: #000000;
}

.overlaybox button {
    background-color: black;
    padding: 10px 20px 10px 20px;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 10px;
}

.overlaybox input:focus {
    outline: none;
}

.overlaybox textarea:focus {
    outline: none;
}